@font-face{
    font-family: "dimitri";
    src: url(Font/dimitri.TTF);
}

@font-face{
    font-family: "dimitri-fill";
    src: url(Font/dimitri_fill.TTF);
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    background-image: url(Pictures/country-quilt-dark.png);
}



.image-text {
    margin-top: -105px;
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: "dimitri";
    margin-bottom: 100px;
}

.image-text-background { 
    margin-top: -160px;
    margin-left: -3px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: "dimitri-fill";
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 10px;
    padding: 0px;
    width:1000px;
    height: 200px;
    align-content: center;
    object-fit: cover;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    width: 1000px;
}

.course {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 50px;
    padding: 0px;
    width: 300px;
    height: auto;
    align-content: center;
    object-fit: cover;
    background-color: white;
    padding: 50px;
}

.course:hover > .course-title {
    background-color:black;
    color: white;
}


.course-title {
    margin-top: -45px;
    margin-bottom:10;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 390px;
    margin-left: -45px;
    text-align: center;
    word-wrap: normal;
    color: black;
}

.course-image {
    margin-bottom: 0px;
    width: 390px;
    height: 200px;
    padding: 5px;
    margin: -50px;
    margin-top:-10px;
    object-fit: cover;
}

a {
    text-decoration: none;
}


