@font-face{
    font-family: "dimitri";
    src: url(dimitri.TTF);
}

@font-face{
    font-family: "dimitri-fill";
    src: url(dimitri_fill.TTF);
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    background-image: url(country-quilt-dark.png);
}

.post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 50px;
    padding: 0px;
    width: 900px;
    height: auto;
    align-content: center;
    object-fit: cover;
    background-color: white;
    padding: 50px;
    
}

.image-text {
    margin-top: -115px;
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: "dimitri";
    margin-bottom: 200px;
}

.image-text-background { 
    margin-top: -220px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: "dimitri-fill";
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 10px;
    padding: 0px;
    width:1000px;
    height: 300px;
    align-content: center;
    object-fit: cover;
}

.post-title {
    margin-top: -20px;
}

.post-body {
    margin-bottom: 0px;
}


